html
{
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    text-align: center;
    background-color: lightblue;
}

.divContainer div
{
    float: left;
}

.num
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-right: 10px;
    background: gold;
}

.przycisk
{
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-top: 120px;
    height: 100px;
    width: 200px;
    border-radius: 25px;
    background: green;
}